<md-dialog aria-label="Mango (Fruit)" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Please copy the letter data into the text area below</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-font-icon="fa fa-times" style="font-size:18pt" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <div class="md-dialog-content">
                <md-input-container>
                    <label>Letter Data</label>
                    <textarea id="codeEditor" name="text" class="form-control editor" rows="10"
                              ng-model="inputData"></textarea>
                </md-input-container>
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <md-button ng-click="answer(inputData)" style="margin-right:20px;">
                Load
            </md-button>
        </div>
    </form>
</md-dialog>